# /etc/systemd/system/gunicorn.service
# sudo systemctl enable gunicorn
# sudo systemctl daemon-reload
# sudo service gunicorn restart

[Unit]
Description=gunicorn daemon
# Requires=gunicorn.socket
After=network.target

[Service]
# Type=notify
# the specific user that our service will run as
User=<사용자명>
Group=www-data
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
# RuntimeDirectory=gunicorn
WorkingDirectory=/home/<사용자명>/lavender
Environment="PATH=/home/<사용자명>/lavender/bin"
ExecStart=/home/<사용자명>/lavender/bin/gunicorn \
        --workers 8 \
        # --worker-class uvicorn.workers.UvicornWorker \
        --bind 0.0.0.0:5000 \
        --threads 12 \
        # -m 007 \
        # --worker-connections 100000 \
        # --timeout 0 \
        # --keep-alive 60 \
        --reload \
        --preload \
        # --access-logfile /home/<사용자명>/lavender/access.log \
        # --error-logfile /home/<사용자명>/lavender/error.log \
        manage:app

# ExecReload=/bin/kill -s HUP $MAINPID
# KillMode=mixed
# TimeoutStopSec=5
# PrivateTmp=true
# Restart=always


[Install]
WantedBy=multi-user.target
